/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color: #003716;
    --second-color: #009621;
    --text-color: #000000;
    --gradient: linear-gradient(#003716, #009621);
}
/* Custom Scroll Bar */
html::-webkit-scrollbar {
    width: 0.5rem; 
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}
section {
    padding: 50px 100px;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: centre;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
}
.logo img {
    width: 40px;
}
.navbar {
    display: flex;
}
.navbar li {
    position: relative;
}
.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover::after {
    width: 100%;
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.header-btn a {
    padding: 10px 20px;
    color:var(--text-color);
    font-weight: 500;
}
.header-btn .offers {
    background: #006d18;
    color: #fff;
    border-radius: 0.5rem;
}
.header-btn .offers:hover {
    background: var(--main-color);
}
.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(img/homepageBGOG.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.text h1 {
    font-size: 4rem;
    letter-spacing: 1px;
}
.text span {
    color: var(--main-color);
}
.text p {
    margin: 00.5rem 0 2rem;
    margin-right: 7.5rem;
}
.text h2 {
    font-size: 1.2rem;
}
.text h6 {
    font-size: 1.5rem;
    text-align: center;
    background-color: #006d18;
    color: #fff;
    margin-right: 5rem;
    padding: 10px;
}
.app-stores {
    display: flex;
}    
.app-stores img {
     width: 100px;
     margin-right: 1rem;
     cursor: pointer;
}
.form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 4rem;
    left: 100px;
    background: #fff;
    padding: 20px;
    border-radius: 0.5rem;
}
.input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box span {
    font-weight: 500;
}
.input-box input {
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.form-container form .btn {
    flex: 1 1 7rem;
    padding: 10px 34px ;
    border: none;
    border-radius: 0.5rem;
    background: #006d18;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.form-container form .btn:hover {
    background: var(--main-color);
}
.form-container a {
    padding: 10px;
    border: none;
    border-radius: 0.3rem;
    background: #003716;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}
.form-container a:hover {
    background: #000000;
    color: #ddd;
}
.heading {
    text-align: center;
}
.heading span {
    font-weight: 500;
    text-transform: uppercase;
}
.heading h1 {
    font-size: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
.ride-container {
    display: grid;
    align-items: centre;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.ride-container .box {
    text-align: centre;
    padding: 20px;
}
.ride-container .box .bx {
    font-size: 34px;
    padding: 10px;
    background-color: #eeeff1;
    border-radius: 0.5rem;
    color: var(--main-color);
}
.ride-container .box h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}
.ride-container .box .bx:hover {
    background: var(--gradient);
    color: #fff;
}
.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 4rem;
    margin-top: 2rem;
}
.services-container .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}
.services-container .box .box-img{
    width: 100%;
    height: 200px;
}
.services-container .box .box-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.services-container .box p {
    padding: 0 10px;
    border: 1px solid var(--text-color);
    width: 58px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
}
.services-container .box h3 {
    font-weight: 500;
}
.services-container .box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    margin: 0.2rem 0 0.5rem;
}
.services-container .box h2 span {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
}
.services-container .box .btn {
    display: flex;
    justify-content: center;
    background: #006d18;
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;
}
.services-container .box .btn:hover {
    background: var(--main-color);
}


.chauffeur h1 {
    text-align: center;
    margin-top: 20px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.team-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.team-list h2 {
    font-size: 1.5rem;
}

.team-list img {
    max-width: 100%;
    height: 220px;
    border-radius: 0.5rem;
}

.team-list p {
    font-size: 1rem;
    margin: 10px 0;
}
.compare h1 {
    text-align: center;
}
.compare h2 {
    text-align: center;
}
.compare a {
    padding: 10px;
    background-color: #003716;
    color: #fff;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.about-img img {
    width: 100%;
}
.about-text span {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
}
.about-text p {
    margin: 0.5rem 0 1.4rem;
}
.about-text .btn {
    padding: 10px 20px;
    background: #006d18;
    color: #fff;
    border-radius: 0.5rem;
}
.about-text .btn:hover {
    background: var(--main-color);
}
.reviews-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.rev-img {
    width: 70px;
    height: 70px;
}
.rev-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}
.reviews-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}
.reviews-container .box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}
.reviews-container .box p {
    font-style: italic;
}
.reviews-container .box h2 .stars .bx {
    color: var(--main-color);
}
.newsletter {
    background: linear-gradient(to top right, #003716, #009621);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter h2 {
    color: #fff;
    font-size: 1.8rem;
}
.newsletter .box {
    margin-top: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    padding: 4px 8px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.newsletter .box input {
    border: none;
    outline: none;
}
.newsletter .box .btn {
    background: #006d18;
    color: #fff;
    padding: 8px 20px;
    border-radius: 0.5rem;
}
.copyright {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social a {
    color: #444;
    padding: 10px;
    font-size: 21px;
}
/* Making Responsive */
@media (max-width: 991px) {
    header {
        padding: 18px 40px;
    }
    section {
        padding: 50px 40px;
    }
}
@media (max-width: 881px) {
    .home {
        background-position: left;
    }
    .form-container form {
        bottom: 0.2rem;
        left: 40px;
    }
}
@media (max-width: 768px) {
    header {
        padding: 11px 40px;
    }
    #menu-icon {
        display: initial;
    }
    .sign-up {
        display: none;
    }
    .text h21 {
        font-size: 2.5rem;
    }
    .home {
        grid-template-columns: 1fr;
    }
    .form-container form {
        position: unset;
    }
    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        transition: 0.2s ease;
        text-align: left;
    }
    .navbar.active {
        top: 100%;
    }
    .navbar a {
        padding: 1rem;
        border-left: 2px solid var(--main-color);
        margin: 1rem;
        display: block;
    }
    .navbar a:hover {
        color: #fff;
        background: var(--main-color);
        border: none;
    }
    .navbar a::after {
        display: none;
    }
    .heading span {
        font-size: 0.9rem;
        font-weight: 600;
    }
    .heading h1 {
        font-size: 1.3rem;
    }
    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img {
        padding: 1rem;
        order: 2;
    }
}
@media (max-width: 568px) {
    .copyright {
        flex-direction: column;
    }
    .newsletter .box {
        width: 284px;
    }
    .form-container {
        padding-top: 2rem;
    }
}
@media (max-width: 350px) {
    header {
        padding: 4px 14px;
    }
    .logo img {
        width: 30px;
    }
    section {
        padding: 50px 14px;
    }
    .header-btn .sign-in {
        padding: 7px 10px;
        font-size: 14px;
        font-weight: 400;
    }
    .text h1 {
        font-size: 2rem;
    }
    .services-container {
        grid-template-columns: repeat(auto-fit,minmax(254px));
    }
}

/*Offers Tab*/
.body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h5 {
    text-align: center;
    font-size: 2rem;
    margin-top: 110px;
}

.offer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}

.offer {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.offer img {
    max-width: 100%;
    height: auto;
}

.offer h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.offer p {
    font-size: 1rem;
    margin: 10px 0;
}

/*Compare*/
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h5 {
    text-align: center;
    margin-top: 20px;
}

.comparison-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
}

.comparison-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.comparison-box h4 {
    font-size: 1.5rem;
}

.comparison-box ul {
    list-style: none;
    padding: 0;
}

.comparison-box ul li {
    font-size: 1rem;
    margin: 10px 0;
}
.home .text a {
    padding: 4px;
    background-color: #003716;
    font-size: 1.2rem;
    font-weight: 800;
    color: #eeeff1;
    margin-top: 5px;
    border-radius: 0.5rem;
}

h5 {
    text-align: center;
    margin-top: 20px;
}

.car-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    margin: 50px;
    gap: 30px;
}

.car-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.car-card h4 {
    font-size: 1.5rem;
}

.car-card img {
    max-width: 100%;
    height: auto;
}

.car-card ul {
    list-style: none;
    padding: 0;
}

.car-card ul li {
    font-size: 1rem;
    margin: 10px 0;
}
.subtext {
    text-align: center;
    font-size: 2rem;
    padding: 5px;
}


/*custcare*/
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h6 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}

.contact-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
}

.contact-info, .customer-support, .emergency-info {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 45%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info h2, .customer-support, h2 {
    font-size: 1.5rem;
}

.contact-info p, .customer-support, .emergency-info p {
    font-size: 1rem;
    margin: 10px 0;
}

.customer-support p:first-child {
    font-weight: bold;
}

.customer-support a {
    text-decoration: none;
    color: #007bff;
}
.guide h2 {
    padding: 1.4rem;
    background-color: #000000;
    color: #fff;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 2rem;
}
.guide p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 2.3rem;
}

/*About*/

.about-us {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.about-us p {
    font-size: 1rem;
    margin: 20px 0;
}
.team-member {
    margin: 20px;
}

.team-member img {
    max-width: 100%;
    height: 250px;
}

.team-member h2 {
    font-size: 1.5rem;
}

.team-member p {
    font-size: 1rem;
    margin: 10px 0;
}
.team-founder {
    margin: 20px;
}

.team-founder img {
    max-width: 100%;
    height: 250px;
}

.team-founder h2 {
    font-size: 1.5rem;
}

.team-founder p {
    font-size: 1rem;
    margin: 10px 0;
}



















